/* ************** Under 768px **************** */

/* navbar */

@media screen and (max-width:768px){
    .fa-bars {
        display: block;
    }
    
    .navbar ul {
        display: none;
    }

    .strategic-planning {
        flex-direction: column;
    }

    .strategic-planning p {
        margin-bottom: 80px;
    }

    .benefit-card {
        flex-basis: calc(50% - 30px);
        
    }

    .strategic-left img {
        margin-bottom: 0;
    }

    .strategic-planning .strategic-right {
        margin-top: 30px;
    }

    .card {
        flex-direction: column;
    }
    
    .card-img img{
        position: static;
        left: 0;
}

/* ************** Under 576px **************** */

@media screen and (max-width:576px) {
    .features-expl {
        flex-direction: column;
    }

    .benefit-list {
        flex-direction: column;
    }

    #about-us .flex {
        flex-direction: column;
    }
}   
    .strategic-planning {
        padding: 4rem;
    }