/* ************** Under 768px **************** */

/* navbar */

@media screen and (max-width:768px){
    .fa-bars {
        display: block;
    }
    
    .navbar ul {
        display: none;
    }

    .strategic-planning {
        flex-direction: column;
    }

    .strategic-planning p {
        margin-bottom: 80px;
    }

    .benefit-card {
        flex-basis: calc(50% - 30px);
        
    }

    .strategic-left img {
        margin-bottom: 0;
    }

    .strategic-planning .strategic-right {
        margin-top: 30px;
    }

    .card {
        flex-direction: column;
    }
    
    .card-img img{
        position: static;
        left: 0;
}
/* ************** Under 669px **************** */

@media screen and (max-width:668px) {
    .card {
        padding: 10px 5px;
    }

    .col {
        padding: 10px 5px;
    }

}

/* ************** Under 576px **************** */

@media screen and (max-width:576px) {
    .features-expl {
        flex-direction: column;
    }

    .benefit-list {
        flex-direction: column;
    }

    .features-expl .col:first-child {
        margin-bottom: 30px;
    }

    #about-us .flex {
        flex-direction: column;
    }
    .strategic-planning {
        padding: 4rem;
    }
}   
