/* ************** Under 768px **************** */

/* navbar */

@media screen and (max-width:768px){
    .fa-bars {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .features-expl {
        flex-direction: column;
    }
}