* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body {
    font-family: 'PT Sans', sans-serif;
}

ul {
    list-style-type: none;
}

/* utility */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* header */

header {
    background-color: #0084fd;
    color: white;
    position: fixed;
    z-index: 1;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar-link {
    padding: 5px 12px;
}